/* CSS Document  def beatu css*/


table{
	 border:0; 
	border-collapse:collapse;
	border-color:#E2E80B;
/*	background-color:#D9171B;*/
	border-spacing:0px;
	
	padding-top:0px;
	margin:0px;
	
	
	
	
	
	
}
td{
	 border:0;
	 padding-top:0px;
	 vertical-align:top;
	
	
}

input{
	
	
}

button{
	
	
	
}
