/* CSS Document */

  .ui-progressbar {
       position: absolute; left:13%; width:70%; height:30px; top:50%;
  }
  .progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }

